@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Nunito, sans-serif;
  background: #f5f6f7;
}

main {
  max-width: 960px; /* 20px smaller, to fit the paddings on the sides */
  margin: 0 auto;
  padding-right: 10px;
  padding-left: 10px;
}

main > h1 {
  text-align: center;
}

.add-post {
  margin: 2rem auto;
  padding: 1rem;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.add-post input {
  display: block;
  margin: 1rem auto;
  width: 20rem;
  padding: 0.5rem;
  border: 1px solid #00b8e6;
  border-radius: 10px;
  outline: none;
}

.add-post button {
  width: 21rem;
  padding: 0.7rem;
  border: 1px solid #00b8e6;
  background: #00b8e6;
  color: #fff;
  border-radius: 20px;
  cursor: pointer;
  outline: none;
}

.add-post button:hover {
  background: #0093b8;
}

.add-post button:disabled {
  background: #d8d8d8;
  border: 1px solid #d8d8d8;
  cursor: not-allowed;
}

.post {
  padding: 1rem;
  margin-bottom: 16px;
  background: #fff;
  border-radius: 10px;
}

.post:not(:last-child) {
  border-bottom: 2px solid #f5f6f7;
}

.post h1 {
  color: #222;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 1.7rem;
}

.post p {
  padding-right: 1rem;
  color: #444;
}
.post button {
  padding: 0.5rem 0.7rem;
  border: 1px solid #d34b4b;
  background: #d34b4b;
  color: #fff;
  border-radius: 20px;
  cursor: pointer;
  outline: none;
}

.post button:hover {
  background: #e06a6a;
}
